/* CSS for the main chat client */

.flex-container {
  display: flex;
  flex-wrap: nowrap;
}

.text-boxes {
  margin: 10px;
  text-align: left;
  line-height: 75px;
  font-size: 30px;
}

.text-box-left {
  width: 15%
}
.text-box-right {
  width: 85%
}
